#grid-2x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    padding: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    background: gray;
    box-shadow: 10px 10px;;
  }
  
  .cell {
    width: 100%;
    background: white;
    
  }
.question{
    margin-left: 10%;
    margin-right: 10%;
    background: gray;
    box-shadow: 10px 10px;;

}

  .cell h1{
    color:black;
  }

.background{ 

    text-align: center;
    
}

